body{
    margin: 0;
    padding: 0;
    display: inline;   
}
#basebackground{
    margin: auto;
    margin-top: 50px;
    width: 80%;
    background-color:whitesmoke;
    padding-top: 10px;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 10px;
}
#nao-header-id{
    position: fixed;
    background-color: black;
    width: 100%;
    height: 50px;
    z-index: 100;
}
#nao-header-id-text{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    color: blanchedalmond;
    transform: translate(-50%,-50%);
}
#nao-newpagelist-id{
    margin-top: 60px;
    margin-left: 10%;
    margin-right: 10%;
    border: solid;
}

.newpagelist-title{
    margin-top: 0%;
}

#mori-a{
    position: relative;
    text-align: center;
    z-index: 1;
}

#mori-a p{
    text-align: center;
    font-family: serif;
    white-space: nowrap;
    position: absolute;
    color: white;
    font-size: 3em;
    font-weight: bold;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin:0;
    padding:0;
}

/* ハンバーガーメニュー */
#nav{    
    white-space: nowrap;
    position: absolute;
    top: 0; 
    left: -15%;
    width: 15%;
    height: 100%;
    background: white;
    transition: .7s;
    z-index: 99;
}

#nav ul{
    padding-top: 80px;
}
#nav ul li{
    list-style-type: none;
    font-size: 20px;
}
#nav a{
    display: block;
    text-decoration: none;
    color: black;
    margin: 0 15px;
    padding: 10px;
    transition: .5s;
}
#nav li a:hover{
    color: blue;
    background: lightslategray;
    border-bottom: none;
}
/* 横線 */
#mori-b{
    display: block;
    text-align: center;
    position: fixed;
    top: 15px;
    left: 20px;
    width: 50px;
    height: 44px;
    cursor: pointer;
    transition: 1s;
    z-index: 101;
}
#mori-b span{
    
    /* position: absolute;
    left: 50%;
    transform: translate(-50%,50%); */
  
}
.line{
    position: absolute;
    left: 0;
    width: 30px;
    height: 3px;
    background-color: white;
    transition: 1s;
    border-radius: 4px;
}
#line1 {
    top: 0;
}
#line2 {
    top: 10px;
}
#line3 {
    bottom: 20px;
}
.in{
    transform: translateX(100%);
  }
  .line_1,.line_2,.line_3{
    background: white;
  }
  .line_1 {
    transform: rotate(-45deg);
    top: 0;
}
.line_2 {
    opacity: 0;
}
.line_3 {
    transform: rotate(45deg);
    bottom: 0;
}
#mori-c{
    text-align: center;
}
#mori-c b{
    font-size: 50px;
    background: linear-gradient(transparent 0, yellow 0);
}
#mori-c p{
    font-size: 20px;
    background: un;
}

/* ホームメニュー */
#home a{
    white-space: nowrap;
    position: absolute;
    top: 10px;
    left: 90%;
}
#home a{
    color: white;
}
 
/* naomori2 */
#mori-c{
    display:flex;
    flex-flow: column;
}
#midasi{
    margin-left: 5em;
    margin-right: 5em;
    border: solid 3px black;
}
#taitole{
    margin-left: 5%;
    float:left;
}
#hiduke{
    margin-right: 5%;
    float: right;
    animation: fadeIn 2s linear;
    animation-fill-mode: both;
}
#kiji{
    margin-left: 5em;
    margin-right: 5em;
    border: solid 3px black;
}
/* naomori3 */
#nikki{
    margin: auto;
    border:solid 3px black
}
#rink{
    margin: auto;
    border:solid 3px black
}
#rink h1{
    margin-left: 5%;
}
#nikki a{
    margin-left: 5%;
    display: block;
}
#kategori{
    margin: auto;
    width: 80%;
    background-color: white;
}
/* アニメーション */
#rink h1{
    animation: fadeIn 2s cubic-bezier(0.33, 1, 0.68, 1) 1 forwards;
}
@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
  