body{
    margin: 0;
    padding: 0;
    display: inline;
}
#nao-header-id{
    position: fixed;
    background-color: black;
    width: 100%;
    height: 50px;
    /*margin-top: 0;*/
}
#nao-header-id-text{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    color: blanchedalmond;
    transform: translate(-50%,-50%);
}
#nao-newpagelist-id{
    margin-top: 60px;
    margin-left: 10%;
    margin-right: 10%;
    border: solid;
}

.newpagelist-title{
    margin-top: 0%;
}

#mori-a{
    margin-top: 40vh;
    margin-left: 40vh;
}
